{
    "manifest_version": 2,
    "name": "Copy Markdown link with favicon",
    "version": "0.1",
    "version_name": "alpha",
    "description": "Copy a Markdown link with favicon",
    "author": "Sinan Ozel",
    "homepage_url": "https://github.com/sinan-ozel/copy-url-extension-with-favicon",
    "icons": {
        "48": "copy-link.svg"
    },
    "applications": {
        "gecko": {
            "id": "copy-markdown-link@ianbicking.org",
            "strict_min_version": "57.0a1"
        }
    },
    "background": {
        "scripts": [
            "background.js"
        ]
    },
    "page_action": {
        "browser_style": true,
        "default_icon": {
            "16": "copy-link.svg"
        },
        "default_title": "Copy Markdown",
        "show_matches": [
            "*://*/*"
        ]
    },
    "permissions": [
        "activeTab",
        "contextMenus",
        "clipboardWrite"
    ]
}